<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>


<div *ngFor='let box of arrBox; let idx= index' class='boxwrapper'>
	<div *ngIf='box.status'  [ngStyle]="{'background-color':box.color}" id="box">
		<button (click)='flipSwitch(idx)'>ON</button>
	</div>
	<div *ngIf='!box.status'  [ngStyle]="{'background-color':box.color}" id="box">
		<button (click)='flipSwitch(idx)'>OFF</button>
	</div>
</div>

<div>
	<button *ngIf='newButton.status' (click)='flipSwitch(0)' [ngStyle]="{'background-color':newButton.color}">ON</button>
	<button *ngIf='!newButton.status' (click)='flipSwitch(1)' [ngStyle]="{'background-color':newButton.color}">Off</button>
</div>
